
body{
  background-image: url('https://thumbs.gfycat.com/GrandioseSpotlessKomododragon-size_restricted.gif');
  /* background-repeat: no-repeat; */
}
.App {
  display:block;
  text-align: center;
  background-color:rgb(241, 234, 234);
}

.contain{
  display:block;
  justify-content: space-around;
  align-items:center;
  width:50%;
  border:2.9px solid rgb(179, 170, 196);
  margin-left:50vh;
}

.header1{
  box-shadow:inset 0px 0px 5px 4px rgba(187, 166, 166, 0.267);
  text-decoration: underline;
  letter-spacing: 2.3px;
  font-size:40px;
  color:rgb(145, 92, 92);
  background-color: rgb(228, 221, 224);
}

.coverImg{
  box-shadow: 5px 3px 6px 4px rgba(163, 160, 160, 0.664);
}

input{
  background-color:rgba(189, 206, 189, 0.733);
}

.plott{
  background-color: rgba(219, 176, 176, 0.342);
  font-size:20px;
  color:#2a1683;
  margin:4px;
}

.rating{
  background-color: rgb(217, 198, 235);
  animation: glowing 2s infinite;
}

@keyframes glowing{
  0%{
    box-shadow: 0px 0px 2px 6px rgb(145, 125, 137);
    /* height:7vh; */
    
  }
  100%{
    color:rgb(128, 35, 114);
    opacity: .5;
    /* font-size:33px; */
  }
}

.cast{
  /* height: 50px; */
  overflow: hidden;
  position: relative;
  /* background: #fefefe; */
  color: #333;
  /* border: 1px solid #4a4a4a; */
  padding-top:20px;
}

.cast{
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  margin-bottom: 14px;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 10s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(50%);
  }
  100% {
      -moz-transform: translateX(-2%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(50%);
  }
  100% {
      -webkit-transform: translateX(-2%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(50%);
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
  }
  95%{
    opacity:1;
  }
  100% {
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-2%);
      opacity:0;
  }
}

.award{
  color:rgb(99, 70, 99);
  animation: glowing2 6s ease-in-out infinite;
}

@keyframes glowing2{
  0%{
    text-shadow: 0px 0px 2px 6px rgb(145, 125, 137);
    /* height:7vh; */
    color:rgb(187, 189, 61);
    font-weight:bolder;
    letter-spacing:10px;
    /* font-size:18px; */
    
  }
  100%{
    color:rgb(128, 35, 114);
    opacity: .7;
    /* font-size:33px; */
  }

}